@font-face {
	font-family: "facetsnfregular";
	src: url("fonts/facetsnf-webfont.woff2") format("woff2"),
		url("fonts/facetsnf-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Font styles */

	--font-family-Rajd: "Rajdhani", sans-serif;
	--font-family-Face: "facetsnfregular", sans-serif;

	/* Font colors */

	--font-color-h1: black;
	--font-color-h2-3-4: white;
	--font-color-standard: hsl(0, 1%, 86%);
	--font-color-dark: hsl(0, 4%, 25%);
	--h2-font-color-dark: hsl(0, 0%, 0%);

	/* Elements backgrounds and main colors */

	--color-primary-YELLOW: hsl(43, 100%, 50%);
	--color-primary-RED: hsl(0, 91%, 41%);
	--color-primary-BLUE: hsl(216, 95%, 37%);
	--color-accent: hsl(165, 47%, 30%);

	/* Colors under pictures */

	--color-undercoat-GREEN: hsl(166, 63%, 55%);
	--color-undercoat-YELLOW: hsl(43, 91%, 55%);
	--color-undercoat-RED: hsl(0, 89%, 55%);
	--color-undercoat-BLUE: hsl(216, 85%, 66%);

	/* Paddings and margins */

	/* --MOBILE */

	--padding-mobile-main: 1.2rem 4rem;
	--padding-mobile-text: 1.2rem;

	/* --TABLET */

	--paddding-tablet-main: 1.8rem clamp(5rem, 6vw, 8.5rem);
	--padding-tablet-text: 1.3rem;

	/* --TABLET */

	--paddding-desktop-main: 2.6rem clamp(8rem, 10vw, 20rem);
	--padding-desktop-text: 2.3rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: "Rajdhani", sans-serif;
	color: var(--font-color-standard);

	line-height: 1.5;
	letter-spacing: 1.5px;

	max-width: 100vw;
	min-height: 100vh;
	overflow-inline: hidden;

	background-color: black;

	padding: var(--padding-mobile-main);
}

/* ...::: [ TYPOGRAPHY ] :::... */

h1,
h2 {
	font-family: "facetsnfregular", sans-serif;
	letter-spacing: 3px;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	color: var(--font-color-h2-3-4);
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
}

@media (min-width: 670px) {
	body {
		padding: var(--paddding-tablet-main);
	}

	h1 {
		font-size: clamp(4rem, 8vw, 8rem);
	}

	h2 {
		font-size: clamp(4rem, 5.3vw, 6rem);
	}

	h3 {
		font-size: clamp(2rem, 2.8vw, 3.2rem);
	}

	h4 {
		font-size: clamp(2rem, 2.6vw, 2.8rem);
	}
}

@media (min-width: 1100px) {
	body {
		font-size: 1.8rem;
		padding: var(--paddding-desktop-main);
	}

	h1 {
		font-size: clamp(8rem, 6vw, 8rem);
	}

	h2 {
		font-size: clamp(5rem, 4vw, 6.3rem);
	}

	h3 {
		font-size: clamp(3rem, 2.5vw, 3.5rem);
	}

	h4 {
		font-size: clamp(2.8rem, 2.3vw, 3rem);
	}
}

/* ? ...::: [ LINKS ] :::... */

a,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

:focus {
	outline: 2px solid var(--color-primary-BLUE);
}
/* ? ...::: [ NAVBAR ] :::... */

#header__logo > h3 {
	font-family: var(--font-family-Face);
	/* color: white; */
}

@media (min-width: 670px) {
	.menu-btn:hover {
		color: var(--color-undercoat-BLUE) !important;
	}
}

/* ! #################################### [ MAIN ] ################################ */

/* ? ...::: [ CONTACT ] :::... */

main {
	margin: 8rem 0;
	display: flex;
	flex-direction: column;
	gap: 10rem;
}

/* ? [ HERO ] */

.hero-contact {
	text-align: center;
	position: relative;

	margin-bottom: 4rem;
}

.hero-contact::before {
	content: "";
	display: block;

	width: 70%;
	height: 1px;

	background-color: var(--color-primary-BLUE);
	opacity: 0.6;

	position: absolute;
	bottom: -4rem;
	left: 15%;
}

.hero-contact h1 {
	width: 100%;
	color: white;
	background-color: var(--color-primary-BLUE);
	margin-bottom: 8.4rem;
}

@media (min-width: 670px) {
	main {
		margin: 15rem 0;
	}

	.hero-contact {
		margin-bottom: 8rem;
	}

	.hero-contact::before {
		display: none;
	}

	.hero-contact > figure {
		padding: 0 var(--padding-tablet-text);
		text-align: left;
		width: 70vw;
		height: fit-content;
		background-color: var(--color-primary-BLUE);
		box-shadow: 2px 2px 8px 0 hsl(0, 0%, 80%, 0.5);

		/* border: 1px solid white; */
	}

	.hero-contact h1 {
		margin: 0;
		background-color: transparent;
	}

	.hero-contact h3 {
		color: var(--font-color-h2-3-4);
	}
}

@media (min-width: 1100px) {
	main {
		margin: 18 0;
	}

	.hero-contact {
		margin-bottom: 12rem;
	}

	.hero-contact > figure {
		width: min(860px, 60vw);
	}
}

/* ? ...::: [ CONTACT INFORMATIONS ] :::... */

#contact-informations {
	word-wrap: break-word;
	word-break: break-all;

	padding: 0 var(--padding-mobile-text);

	display: flex;
	flex-direction: column;

	gap: 2rem;
}

#contact-informations h3 {
	margin-bottom: 2rem;
}

#contact-informations h4 {
	position: relative;
}

#contact-informations h4::before {
	content: "";
	display: block;
	width: 2px;
	height: 100%;

	background-color: var(--color-primary-BLUE);

	position: absolute;
	left: -1.2rem;
	bottom: 0;
}

/* ? ...::: [ FORM ] :::... */

form {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	align-items: center;
}

form > h3 {
	/* align-self: flex-start; */
	margin-bottom: 2rem;
}

.contact-form {
	width: min(100%, 44rem);
	font-size: clamp(1.6rem, 1.2vw, 2.2rem);
}

.contact-form > * {
	display: block;
}

.contact-form label,
textarea {
	margin-bottom: 0.5rem;

	font-size: clamp(1.8rem, 1.6vw, 2.4rem);
	font-weight: 600;
}

input:focus,
textarea:focus {
	border: 2px solid var(--color-primary-BLUE);
	font-weight: 600;
	box-shadow: 0 0 0 4px black, 0 0 0 6px var(--color-primary-BLUE);
}

textarea {
	width: min(100%, 44rem);
}

.contact-form input {
	width: 100%;
	height: 2.2em;

	font-weight: 500;
	text-align: top;
}

#question {
	height: 30rem;
}

#form__submit-button {
	margin-top: 4rem;

	width: min(100%, 44rem);
	padding: 0.8em 0;

	border: 2px solid var(--color-primary-BLUE);
	background-color: transparent;

	font-size: 3rem;
	color: white;
	letter-spacing: 3px;

	cursor: pointer;
}

#form__img {
	display: none;
}

@media (min-width: 670px) {
	form {
		margin-top: 10rem;
	}

	#form__submit-button:hover,
	#form__submit-button:focus {
		background-color: var(--color-primary-BLUE);
		font-weight: 600;
		box-shadow: 0 0 0 3px black, 0 0 0 6px var(--color-primary-BLUE);
	}
}

@media (min-width: 1100px) {
	form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		align-items: flex-start;

		position: relative;
	}

	form > figure {
		width: 540px;
		height: 580px;

		position: absolute;
		top: 15rem;
		left: 50rem;
	}

	#form__img {
		display: inline-block;
		width: 100%;
		height: 100%;

		object-fit: cover;
	}
}

/* ? ...::: [ Acquaintances ] :::... */

#acquaintances {
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#acquaintances > h4 {
	width: fit-content;
	padding: 0.5em 1em;
	border: 1px solid var(--color-primary-BLUE);

	font-size: clamp(1.8rem, 1.8vw, 2.2rem);
}

.acquaintances__info p {
	color: var(--font-color-h2-3-4);
	font-weight: 500;
}

@media (min-width: 670px) {
	#acquaintances {
		margin-top: 20rem;
	}
}

/* ...::: [ FOOTER ] :::.... */

footer {
	width: 100%;
	margin: 1rem auto;
}

#footer-social-media {
	display: flex;
	justify-content: center;
	gap: 2rem;

	cursor: pointer;
}

#footer-social-media button {
	width: fit-content;
	height: fit-content;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

#move-to-top {
	display: none;
}

/* ? ...::: [ WATERMARK & BACK TO TOP ] :::... */

#move-to-top {
	display: none;
}

@media (min-width: 670px) {
	body {
		position: relative;
	}

	body::before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: url(../images/koza_watermark.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		z-index: -9999;
		filter: opacity(0.09);
	}

	#move-to-top {
		display: inline-block;

		width: 30px;
		height: 35px;
		border: 2px solid var(--color-undercoat-BLUE);
		background-color: transparent;
		opacity: 0.6;

		cursor: pointer;

		position: fixed;
		bottom: 5rem;
		right: 1rem;

		display: grid;
		place-content: center;
	}

	#move-to-top:focus {
		box-shadow: 0 0 0 3px black, 0 0 0 6px var(--color-undercoat-BLUE);
	}
}

@media (min-width: 1100px) {
	#move-to-top {
		right: 4rem;
	}
}
