@font-face {
	font-family: "facetsnfregular";
	src: url("fonts/facetsnf-webfont.woff2") format("woff2"),
		url("fonts/facetsnf-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Font styles */

	--font-family-Rajd: "Rajdhani", sans-serif;
	--font-family-Face: "facetsnfregular", sans-serif;

	/* Font colors */

	--font-color-h1: black;
	--font-color-h2-3-4: white;
	--font-color-standard: hsl(0, 1%, 86%);
	--font-color-dark: hsl(0, 4%, 25%);
	--h2-font-color-dark: hsl(0, 0%, 0%);

	/* Elements backgrounds and main colors */

	--color-primary-YELLOW: hsl(43, 100%, 50%);
	--color-primary-RED: hsl(0, 91%, 41%);
	--color-primary-BLUE: hsl(216, 95%, 37%);
	--color-accent: hsl(165, 47%, 30%);

	/* Colors under pictures */

	--color-undercoat-GREEN: hsl(166, 63%, 55%);
	--color-undercoat-YELLOW: hsl(43, 91%, 55%);
	--color-undercoat-RED: hsl(0, 89%, 55%);
	--color-undercoat-BLUE: hsl(216, 85%, 46%);

	/* Paddings and margins */

	/* --MOBILE */

	--padding-mobile-main: 1.2rem 4rem;
	--padding-mobile-text: 1.2rem;

	/* --TABLET */

	--paddding-tablet-main: 1.8rem clamp(5rem, 6vw, 8.5rem);
	--padding-tablet-text: 1.3rem;

	/* --TABLET */

	--paddding-desktop-main: 2.6rem clamp(8rem, 10vw, 20rem);
	--padding-desktop-text: 2.3rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: "Rajdhani", sans-serif;
	color: var(--font-color-standard);

	line-height: 1.5;
	letter-spacing: 1.5px;

	max-width: 100vw;
	min-height: 100vh;
	overflow-inline: hidden;

	background-color: black;

	padding: var(--padding-mobile-main);
}

/* ...::: [ TYPOGRAPHY ] :::... */

h1 {
	color: var(--font-color-h1);
}

h1,
h2 {
	font-family: "facetsnfregular", sans-serif;
	letter-spacing: 3px;
	margin: 0;
}

h2,
h3,
h4 {
	color: var(--font-color-h3-4);
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 2rem;
}

@media (min-width: 670px) {
	body {
		padding: var(--paddding-tablet-main);
	}

	h1 {
		font-size: clamp(4rem, 8vw, 8rem);
	}

	h2 {
		font-size: clamp(3rem, 5vw, 6.5rem);
	}

	h3 {
		font-size: clamp(2rem, 3vw, 5rem);
		color: var(--font-color-h1);
	}

	h4 {
		font-size: clamp(2rem, 2.6vw, 4rem);
	}
}

@media (min-width: 1100px) {
	body {
		font-size: 1.8rem;
		padding: var(--paddding-desktop-main);
	}

	h1 {
		font-size: clamp(8rem, 6vw, 8rem);
	}

	h2 {
		font-size: clamp(5rem, 4vw, 6.3rem);
	}

	h3 {
		font-size: clamp(3rem, 2.5vw, 4rem);
	}

	h4 {
		font-size: clamp(2.8rem, 2.3vw, 3rem);
	}
}

/* ...::: [ LINKS ] :::... */

a,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

:focus {
	outline: 2px solid var(--color-primary-YELLOW);
}
/* ...::: [ NAVBAR ] :::... */

#header__logo > h3 {
	font-family: var(--font-family-Face);
	color: white;
}

@media (min-width: 670px) {
	.menu-btn:hover {
		color: var(--color-primary-YELLOW) !important;
	}
}

/* #################################### [ MAIN ] ################################ */

/* ...::: [ GALLERY ] :::... */

main {
	margin: 10rem 0;
	display: flex;
	flex-direction: column;
	gap: 9.4rem;
}

.hero {
	text-align: center;
}

.hero h1 {
	width: 100%;
	background-color: var(--color-primary-YELLOW);
	margin-bottom: 8.4rem;
}

#gallery-container {
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 6rem;
}

#gallery-container > section {
	width: 100%;
}

h2 {
	width: 100%;

	position: relative;
}

h2[section-decoration]::before {
	content: "";
	display: inline-block;
	height: 100%;
	width: 2px;
	background-color: var(--color-primary-YELLOW);

	position: absolute;
	left: 0;
	bottom: 0;
}

h2[section-decoration]::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 2px;
	background-color: var(--color-primary-YELLOW);

	position: absolute;
	right: 0;
	bottom: 0;
}

.gallery {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	position: relative;
}

.gallery::before {
	content: "";
	display: inline-block;
	width: 70%;
	height: 1px;
	background-color: var(--color-primary-YELLOW);
	opacity: 0.4;

	position: absolute;
	top: -3rem;
	right: 15%;
}

.gallery img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
	border: 2px solid var(--color-primary-YELLOW);
}

.gallery h4 {
	margin-bottom: 2rem;
}

@media (min-width: 670px) {
	main {
		margin: 15rem 0;
		gap: 12rem;
	}

	.hero > section {
		padding: 0 var(--padding-tablet-text);
		text-align: left;

		width: 70vw;
		height: fit-content;
		background-color: var(--color-primary-YELLOW);

		box-shadow: 2px 2px 8px 0 hsl(0, 0%, 80%, 0.5);
	}

	.hero h1 {
		margin: 0;
	}

	h2 {
		padding: var(--padding-tablet-text);
	}

	h2[section-decoration]::after {
		display: none;
	}

	#gallery-container {
		gap: 10rem;
		text-align: left;
	}

	#gallery-container h2,
	h4,
	figcaption {
		padding: 0.5rem var(--padding-tablet-text);
	}

	.gallery {
		text-align: left;

		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(auto, clamp(240px, 30vw, 450px));


		row-gap: 4rem;
	}

	.gallery::before {
		display: none;
	}

	.gallery h4 {
		grid-column: span 2;
	}

	.gallery figure:hover,
	.gallery figure:focus {
		transform: scale(1.1);
	}

	.gallery img {
		cursor: pointer;
		height: 90%;
		/* height: clamp(210px, 10vw ,350px); */
	}

	.gallery figcaption {
		width: 100%;
		position: relative;
		cursor: pointer;
	}

	.gallery figcaption::before {
		content: "";
		display: inline-block;
		height: 80%;
		width: 2px;

		background-color: var(--color-primary-YELLOW);

		position: absolute;
		left: 0;
		bottom: 10%;
	}
}

@media (min-width: 1100px) {
	main {
		margin: 18rem 0;
	}

	.hero > section {
		padding: 0 var(--padding-desktop-text);
		text-align: left;

		width: min(860px, 60vw);
		height: fit-content;
	}

	.gallery {
		grid-template-columns: repeat(auto-fit, clamp(250px, 25vw, 450px));
		gap: 0;
		row-gap: 6rem;
	}

	.gallery h4 {
		grid-column: span 3;
	}

	h2[section-decoration]::before {
		width: 3px;
		height: 80%;
		bottom: 10%;
	}
}

/* ...::: [ FOOTER ] :::.... */

footer {
	width: 100%;
	margin: 1rem auto;
}

#footer-social-media {
	display: flex;
	justify-content: center;
	gap: 2rem;

	cursor: pointer;
}

#footer-social-media button {
	width: fit-content;
	height: fit-content;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

#move-to-top {
	display: none;
}

/* ...::: [ WATERMARK & BACK TO TOP ] :::... */

@media (min-width: 670px) {
	body {
		position: relative;
	}

	body::before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: url(../images/koza_watermark.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		z-index: -9999;
		filter: opacity(0.09);
	}

	#move-to-top {
		display: inline-block;

		width: 30px;
		height: 35px;
		border: 2px solid var(--color-primary-YELLOW);
		background-color: transparent;
		opacity: 0.6;

		cursor: pointer;

		position: fixed;
		bottom: 5rem;
		right: 1rem;

		display: grid;
		place-content: center;
	}

	#move-to-top:focus {
		box-shadow: 0 0 0 3px black, 0 0 0 6px var(--color-primary-YELLOW);
	}
}

@media (min-width: 1100px) {
	#move-to-top {
		right: 4rem;
	}
}

/* TODO GALLERY TILE ZOOM */

body {
	position: relative;
}

#gallery__tile-zoomed {
	width: 90%;
	height: fit-content;

	position: fixed;
	top: 20vh;
	left: 5%;
}

#gallery__img-zoomed {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border: 2px solid var(--color-primary-YELLOW);
}

#gallery__caption-zoomed {
	width: 100%;

	font-size: 2.2rem;
	font-weight: 500;
	color: var(--font-color-h2-3-4);

	padding: 0.5rem var(--padding-desktop-text);
	position: relative;
}

#gallery__caption-zoomed::before {
	content: "";
	display: inline-block;
	height: 80%;
	width: 3px;

	background-color: var(--color-primary-YELLOW);

	position: absolute;
	left: 0;
	bottom: 10%;
}

#gallery__tile-zoomed[data-zoom-triggered="true"] {
	display: fixed;
}

#gallery__tile-zoomed[data-zoom-triggered="false"] {
	display: none;
}

@media (min-width: 1100px) {
	#gallery__tile-zoomed {
		width: 55%;
		height: fit-content;

		position: fixed;
		top: 5vh;
		left: 22.5%;
	}
}
