<article id="gallery-container">
  <h2 section-decoration>warmachine & hordes</h2>
  <section class="gallery">
    <h4>Protectorate of Menoth</h4>
    <figure>
      <img src="images/Figures/PoM/f10-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/PoM/f18-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/PoM/f17-b.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/PoM/f23-c.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/PoM/f24-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/PoM/f31-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
  </section>
  <section class="gallery">
    <h4>Cygnar</h4>
    <figure>
      <img src="images/Figures/Cygnar/c1-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/Cygnar/c2-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/Cygnar/c3-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/Cygnar/c4-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/Cygnar/c5-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
    <figure>
      <img src="images/Figures/Cygnar/c6-a.webp" alt="" />
      <figcaption>Some Figure</figcaption>
    </figure>
  </section>
</article>
