<article id="cta">
  <section id="cta__description">
    <p>Do you have any questions?</p>
    <p>or</p>
    <p>Do you want to place an order?</p>
  </section>

  <figure aria-hidden="true">
    <span
      aria-hidden="true"
      id="cta__question-mark"
      class="iconify-inline"
      data-icon="emojione-monotone:white-question-mark"
      style="color: white"
      data-width="64"
      data-height="64"
    ></span>
    <span
      aria-hidden="true"
      id="cta__goat"
      class="iconify-inline"
      data-icon="noto-v1:goat"
      data-width="100"
      data-height="100"
    ></span>
    <span
      aria-hidden="true"
      id="cta__arrowhead"
      class="iconify-inline"
      data-icon="fluent:triangle-12-filled"
      style="color: white"
      data-width="20"
      data-height="20"
      data-rotate="90deg"
    ></span>
  </figure>
  <a href="#">
    <button id="cta__button">CONTACT US</button>
  </a>
</article>
