<footer>
  <figure id="footer-social-media">
    <span
      class="iconify-inline"
      data-icon="carbon:logo-instagram"
      style="color: hsl(0, 91%, 41%)"
      data-width="34"
      data-height="34"
    ></span>
    <span
      class="iconify-inline"
      data-icon="ant-design:facebook-outlined"
      style="color: hsl(0, 91%, 41%)"
      data-width="34"
      data-height="34"
    ></span>
    <span
      class="iconify-inline"
      data-icon="ci:mail"
      style="color: hsl(0, 91%, 41%)"
      data-width="36"
      data-height="36"
    ></span>
  </figure>
</footer>
<button id="move-to-top">
  <a href="#">
    <span
      class="iconify-inline"
      data-icon="akar-icons:align-to-top"
      style="color: hsl(0, 91%, 41%)"
      data-width="24"
      data-height="24"
    >
    </span>
  </a>
</button>
