<article class="section-offer">
  <h2 section-decoration>Assembly</h2>
  <section class="offer__content">
    <h4>Offer 1</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>40 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 2</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>60 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 3</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>80 pln / figure</h3>
  </section>
</article>
<article class="section-offer">
  <h2 section-decoration>Painting</h2>
  <section class="offer__content">
    <h4>Offer 1</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>40 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 2</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>60 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 3</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>80 pln / figure</h3>
  </section>
</article>
<article class="section-offer">
  <h2 section-decoration>Basing</h2>
  <section class="offer__content">
    <h4>Offer 1</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>40 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 2</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>60 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 3</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>80 pln / figure</h3>
  </section>
</article>
<article class="section-offer">
  <h2 section-decoration>Magnetizing</h2>
  <section class="offer__content">
    <h4>Offer 1</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>40 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 2</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>60 pln / figure</h3>
  </section>
  <section class="offer__content">
    <h4>Offer 3</h4>
    <p>ste qui accusamus quo aut. Rem rem porro accusantium repellat non</p>
    <h3>80 pln / figure</h3>
  </section>
</article>
